<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="FirstTest" >
    <classes>
       <class name="com.learn.herokuapp.FirstTest" />
    </classes>
  </test>
 
  <test name="Troubleshooting">
    <classes>
      <class name="com.learn.herokuapp.TroubleshootingTest">
      	<methods>
      		<include name="waitTest" />
      		<include name="visibilityTest" />
      	</methods>
      </class>
    </classes>
  </test>
</suite>